<%= link_to("New Elf", new_elf_path) %>

<table>
  <thead>
    <tr>
      <th>Elf</th>
      <th>elf attributes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @elves.each do |elf| %>
      <tr>
        <td><%= elf.name %></td>
        <td><%= elf.toys.map { |x| x.attributes } %></td>
        <td class="table-actions">
          <%= link_to "edit", edit_elf_path(elf) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>